#contentView {
    font-family: SansSerif;
}

#contentView table td, th {
    border: 1px solid rgba(0,0,0,.1);
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 5px;
}

#contentView table th {
    background: #555555;
    color: #ffffff;
}

#contentView table p {
    font-size: 13px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}